<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">

    <!-- import waypoint and greensock -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>

    <title>Sarah's Infographic</title>
</head>
<body>

  <section id="header">
    
    <h1 class="main-header">Best Rated 
      Eye Shadow Palettes
      On Sephora.com</h1>
      <div id="top-bar"></div>
      <div id="mid-bar"></div>
      <div id="bot-bar"></div>
      
      <img id="decor-bars" src="/images/title_bars.svg" alt="bars" width="100" height="100">
    </section>
    <main>

      <section id="huda">
        <div id="company-name">
          <h2 id="c-name-title">Company Name:</h2>
          <p id="huda-title">Huda</p>

        </div>




      </section>

        <!-- if we were using a framework, these might be 6-col or something-->
       
    </main>
    <script src="js/main.js"></script>
</body>
</html>