<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/huda.css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">

    <!-- import waypoint and greensock -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>

    <title>Sarah's Infographic</title>
</head>
<body>

  <section id="header">
    
    <h1 class="main-header">Best Rated 
      Eye Shadow Palettes
      On Sephora.com</h1>
      <div id="top-bar"></div>
      <div id="mid-bar"></div>
      <div id="bot-bar"></div>
      
      <img id="decor-bars" src="/images/title_bars.svg" alt="bars" width="100" height="100">
    </section>
    <main>

     

<button class="info" id="hudaBut" type="button" data-target="1">Huda Beauty</button>
<button class="info" id="natBut" type="button" data-target="2">Natasha Denona</button>
<button class="info" id="urbanBut" type="button" data-target="3">Urban Decay</button>

<div class="popover" id="huda">

<div id="pan-highlights">

  <div class="solids">
      <div id="m-top-left"></div>
      <div id="m-top-right"></div>
      <div id="m-mid-left"></div>
      <div id="m-mid-right"></div>
      <div id="m-bot-mid"></div>
  </div>


  <div class="sparkle">
  <div id="s-top-mid"></div>
  <div id="s-mid-mid"></div>
  <div id="s-bot-left"></div>
  <div id="s-bot-right"></div>
</div>

</div>

    <img src="" class="image-palette" id="image1"></p>
  <div id="boxes">
<p class="company-name" id="c-name1"></p>
<p class="palette-name" id="p-name1"></p>
<p class="colours" id="clrs1"></p>
<p class="mattes" id="mats1"></p>
<p class="shimmers" id="shim1"></p>
<p class="reviews" id="rev1"></p>
<p class="five-stars" id="fivestars1"></p>
<p class="four-stars" id="fourstars1"></p>
<p class="three-stars" id="threestars1"></p>
<p class="two-stars" id="twostars1"></p>
<p class="one-star" id="onestar1"></p>
<p class="retail-price" id="retailprice1"></p>
<p class="avg-rating" id="avgrating1"></p>
</div>
</div>

<div class="popover1" id="nat">

    <p class="company-name1" id="c-name2"></p>
    <p class="palette-name1" id="p-name"></p>
    <p class="colours1" id="clrs"></p>
    <p class="mattes1" id="mats"></p>
    <p class="shimmers1" id="shim"></p>
    <p class="reviews1" id="rev"></p>
    <p class="five-stars1" id="fivestars"></p>
    <p class="four-stars1" id="fourstars"></p>
    <p class="three-stars1" id="threestars"></p>
    <p class="two-stars1" id="twostars"></p>
    <p class="one-star1" id="onestar"></p>
    <p class="retail-price1" id="retailprice"></p>
    <p class="avg-rating1" id="avgrating"></p>
    <img src="" class="image-palette1" id="image"></p>
    </div>

      </section>

       
       
    </main>
    <script src="js/main.js"></script>
</body>
</html>