<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
    <link rel='stylesheet' href='/stylesheets/huda.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
